#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
}

.question-area {
  position: relative;
  z-index: 2;
  max-height: 800px;
  max-width: 1200px;
  margin: 6rem auto 0 auto;
  padding: 2rem;
  padding-top: 0;
}

.question {
  width: 1200px;
  margin-top: 1rem;
  font-size: x-large;

}

.answer {
  margin-top:2rem;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  font-size: large;
  gap: 1rem;
}

img {
  margin-top: 6px;
  max-width: 900px;
  max-height: 300px;
  box-shadow: 2px 2px 25px 2px #5659ff;
}

.answer button {
  width: 40%;
  box-sizing: border-box;
  text-align: left;
}

.option-label {
  margin-right: 2rem;
  color: #5659ff;
}
.remain-line {
  text-align: center;
  margin: 1rem 0;
  background-color: #5659ff;
  height: 7px;
  border-radius: 5px;
}

.animations {
  animation: changeColor 30s linear forwards;
}

@keyframes changeColor {
  0% {
    width: 100%;
    background-color: #5659ff;
  }
  100% {
    width: 0;
    background-color: #ff5959;
  }
}

ul {
  list-style: none;
  padding: 0;
}
.true-answer {
  color: green;
}

.false-answer {
  color: red;
}

.total-view {
  width: 1200px;
  max-height: 800px;
  color: white;
  font-size: x-large;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.answer-view {
  display: flex;
  flex-direction: column;
}